@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to COVID test App</h1>
    <p>To help prevent the spread of COVID-19<a href="https://www.ontario.ca/page/covid-19-stop-spread?gclid=CjwKCAiA5IL-BRAzEiwA0lcWYltON2MaOwwMVmIkPSQTeMz6XXXMwlYgw3qY84ZJaLa7BDoeKEKUUBoCSHYQAvD_BwE"> Click here</a>.</p>
</div>
