@model int
    <div class="col-6 offset-2">
        <div class="row">
            <div class="row col-6">
                <input type="submit" class="btn btn-info form-control" asp-route-id="@Model" value="Update"/>
            </div>
            <div class="col-6">
                <a class="btn btn-success form-control" asp-action="Index">Back to List</a>
            </div>
        </div>
        </div>





       