@model int

    <div class="form-group row">
        <div class="col-6 offset-2">
            <div class="row">
                <div class="row col-6">
                    <a class="btn btn-info form-control text-white" asp-action="Edit" asp-route-Id="@Model">Edit</a>
                </div>
                <div class="col-6">
                    <a class="btn btn-success form-control" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>


    